<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
        	<key>500x500.jpg</key>
        	<string>{{0,0},{500,500}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{500,500}}</string>
            <key>sourceSize</key>
            <string>{500,500}</string>
        	<key>200x200.jpg</key>
        	<string>{{500,0},{200,200}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{200,200}}</string>
            <key>sourceSize</key>
            <string>{200,200}</string>
        	<key>100x100.jpg</key>
        	<string>{{500,200},{100,100}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{100,100}}</string>
            <key>sourceSize</key>
            <string>{100,100}</string>
        	<key>50x50.jpg</key>
        	<string>{{600,200},{50,50}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{50,50}}</string>
            <key>sourceSize</key>
            <string>{50,50}</string>
	    </dict>
	    <key>metadata</key>
	    <dict>
	        <key>format</key>
	        <integer>2</integer>
	        <key>realTextureFileName</key>
	        <string>spritesheet.png</string>
	        <key>size</key>
	        <string>{1024,1024}</string>
	        <key>textureFileName</key>
	        <string>spritesheet.png</string>
	    </dict>
    </dict>
</plist>
