<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
        	<key>character_evil.png</key>
        	<string>{{0,0},{286,355}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{286,355}}</string>
            <key>sourceSize</key>
            <string>{286,355}</string>
        	<key>character_hero.png</key>
        	<string>{{286,0},{203,346}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{203,346}}</string>
            <key>sourceSize</key>
            <string>{203,346}</string>
        	<key>ship_giant_full.png</key>
        	<string>{{489,0},{199,218}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{199,218}}</string>
            <key>sourceSize</key>
            <string>{199,218}</string>
        	<key>fx_particle_crash_01.png</key>
        	<string>{{0,355},{287,174}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{287,174}}</string>
            <key>sourceSize</key>
            <string>{287,174}</string>
        	<key>fx_particle_crash_02.png</key>
        	<string>{{287,355},{287,174}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{287,174}}</string>
            <key>sourceSize</key>
            <string>{287,174}</string>
        	<key>fx_particle_crash_03.png</key>
        	<string>{{688,0},{287,174}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{287,174}}</string>
            <key>sourceSize</key>
            <string>{287,174}</string>
        	<key>fx_particle_crash_04.png</key>
        	<string>{{688,174},{287,174}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{287,174}}</string>
            <key>sourceSize</key>
            <string>{287,174}</string>
        	<key>fx_particle_pow_03.png</key>
        	<string>{{688,348},{111,170}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{111,170}}</string>
            <key>sourceSize</key>
            <string>{111,170}</string>
        	<key>fx_particle_pow_02.png</key>
        	<string>{{799,348},{111,170}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{111,170}}</string>
            <key>sourceSize</key>
            <string>{111,170}</string>
        	<key>fx_particle_pow_01.png</key>
        	<string>{{574,355},{111,170}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{111,170}}</string>
            <key>sourceSize</key>
            <string>{111,170}</string>
        	<key>ship_giant_roof.png</key>
        	<string>{{0,529},{134,142}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{134,142}}</string>
            <key>sourceSize</key>
            <string>{134,142}</string>
        	<key>ship_giant_head.png</key>
        	<string>{{489,218},{82,129}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{82,129}}</string>
            <key>sourceSize</key>
            <string>{82,129}</string>
        	<key>fx_particle_bomb.png</key>
        	<string>{{910,348},{23,122}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{23,122}}</string>
            <key>sourceSize</key>
            <string>{23,122}</string>
        	<key>fx_particle_boom_02.png</key>
        	<string>{{134,529},{190,120}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{190,120}}</string>
            <key>sourceSize</key>
            <string>{190,120}</string>
        	<key>fx_particle_boom_03.png</key>
        	<string>{{324,529},{190,120}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{190,120}}</string>
            <key>sourceSize</key>
            <string>{190,120}</string>
        	<key>fx_particle_boom_01.png</key>
        	<string>{{514,529},{190,120}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{190,120}}</string>
            <key>sourceSize</key>
            <string>{190,120}</string>
        	<key>ship_giant_body.png</key>
        	<string>{{571,218},{108,95}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{108,95}}</string>
            <key>sourceSize</key>
            <string>{108,95}</string>
        	<key>turret_enemy_full.png</key>
        	<string>{{704,529},{115,94}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{115,94}}</string>
            <key>sourceSize</key>
            <string>{115,94}</string>
        	<key>fx_particle_smoke_02.png</key>
        	<string>{{819,529},{76,75}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{76,75}}</string>
            <key>sourceSize</key>
            <string>{76,75}</string>
        	<key>fx_particle_smoke_01.png</key>
        	<string>{{895,529},{46,73}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{46,73}}</string>
            <key>sourceSize</key>
            <string>{46,73}</string>
        	<key>turret_enemy_gun.png</key>
        	<string>{{0,671},{48,72}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{48,72}}</string>
            <key>sourceSize</key>
            <string>{48,72}</string>
        	<key>ship_jet_full.png</key>
        	<string>{{48,671},{138,64}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{138,64}}</string>
            <key>sourceSize</key>
            <string>{138,64}</string>
        	<key>turret_enemy_base.png</key>
        	<string>{{186,671},{115,62}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{115,62}}</string>
            <key>sourceSize</key>
            <string>{115,62}</string>
        	<key>ship_enemy_full.png</key>
        	<string>{{301,671},{138,61}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{138,61}}</string>
            <key>sourceSize</key>
            <string>{138,61}</string>
        	<key>fx_particle_ratata_04.png</key>
        	<string>{{439,671},{89,59}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{89,59}}</string>
            <key>sourceSize</key>
            <string>{89,59}</string>
        	<key>fx_particle_ratata_07.png</key>
        	<string>{{528,671},{89,59}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{89,59}}</string>
            <key>sourceSize</key>
            <string>{89,59}</string>
        	<key>fx_particle_ratata_02.png</key>
        	<string>{{617,671},{89,59}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{89,59}}</string>
            <key>sourceSize</key>
            <string>{89,59}</string>
        	<key>fx_particle_ratata_01.png</key>
        	<string>{{706,671},{89,59}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{89,59}}</string>
            <key>sourceSize</key>
            <string>{89,59}</string>
        	<key>fx_particle_ratata_06.png</key>
        	<string>{{795,671},{89,59}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{89,59}}</string>
            <key>sourceSize</key>
            <string>{89,59}</string>
        	<key>fx_particle_ratata_05.png</key>
        	<string>{{884,671},{89,59}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{89,59}}</string>
            <key>sourceSize</key>
            <string>{89,59}</string>
        	<key>fx_particle_ratata_03.png</key>
        	<string>{{0,743},{89,59}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{89,59}}</string>
            <key>sourceSize</key>
            <string>{89,59}</string>
        	<key>fx_particle_engine_04.png</key>
        	<string>{{89,743},{49,57}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{49,57}}</string>
            <key>sourceSize</key>
            <string>{49,57}</string>
        	<key>fx_particle_engine_03.png</key>
        	<string>{{138,743},{49,57}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{49,57}}</string>
            <key>sourceSize</key>
            <string>{49,57}</string>
        	<key>fx_particle_engine_02.png</key>
        	<string>{{187,743},{49,57}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{49,57}}</string>
            <key>sourceSize</key>
            <string>{49,57}</string>
        	<key>fx_particle_engine_01.png</key>
        	<string>{{236,743},{49,57}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{49,57}}</string>
            <key>sourceSize</key>
            <string>{49,57}</string>
        	<key>ship_giant_floor.png</key>
        	<string>{{285,743},{117,48}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{117,48}}</string>
            <key>sourceSize</key>
            <string>{117,48}</string>
        	<key>ship_enemy_body.png</key>
        	<string>{{402,743},{124,46}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{124,46}}</string>
            <key>sourceSize</key>
            <string>{124,46}</string>
        	<key>ship_jet_body.png</key>
        	<string>{{526,743},{82,43}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{82,43}}</string>
            <key>sourceSize</key>
            <string>{82,43}</string>
        	<key>ship_jet_head.png</key>
        	<string>{{910,470},{46,43}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{46,43}}</string>
            <key>sourceSize</key>
            <string>{46,43}</string>
        	<key>ship_giant_engine.png</key>
        	<string>{{933,348},{25,42}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{25,42}}</string>
            <key>sourceSize</key>
            <string>{25,42}</string>
        	<key>ship_enemy_wing.png</key>
        	<string>{{571,313},{68,34}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{68,34}}</string>
            <key>sourceSize</key>
            <string>{68,34}</string>
        	<key>fx_particle_smoke_03.png</key>
        	<string>{{933,390},{37,29}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{37,29}}</string>
            <key>sourceSize</key>
            <string>{37,29}</string>
        	<key>ship_jet_exhaust.png</key>
        	<string>{{704,623},{60,26}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{60,26}}</string>
            <key>sourceSize</key>
            <string>{60,26}</string>
        	<key>ship_jet_engine.png</key>
        	<string>{{933,419},{30,24}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{30,24}}</string>
            <key>sourceSize</key>
            <string>{30,24}</string>
        	<key>ship_jet_gun.png</key>
        	<string>{{819,604},{54,18}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{54,18}}</string>
            <key>sourceSize</key>
            <string>{54,18}</string>
        	<key>ship_enemy_gun.png</key>
        	<string>{{639,313},{49,13}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{49,13}}</string>
            <key>sourceSize</key>
            <string>{49,13}</string>
        	<key>fx_particle_shell.png</key>
        	<string>{{958,348},{7,7}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{7,7}}</string>
            <key>sourceSize</key>
            <string>{7,7}</string>
        	<key>fx_particle_bullett.png</key>
        	<string>{{688,518},{66,4}}</string>
        	<key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{66,4}}</string>
            <key>sourceSize</key>
            <string>{66,4}</string>
	    </dict>
	    <key>metadata</key>
	    <dict>
	        <key>format</key>
	        <integer>2</integer>
	        <key>realTextureFileName</key>
	        <string>spritesheet.png</string>
	        <key>size</key>
	        <string>{1024,1024}</string>
	        <key>textureFileName</key>
	        <string>spritesheet.png</string>
	    </dict>
    </dict>
</plist>
