<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
	        <key>character_evil.png</key>
	        <string>{{0,0},{286,355}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{286,355}}</string>
	        <key>sourceSize</key>
	        <string>{286,355}</string>
	        <key>character_hero.png</key>
	        <string>{{286,0},{203,346}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{203,346}}</string>
	        <key>sourceSize</key>
	        <string>{203,346}</string>
	        <key>ship_giant_full.png</key>
	        <string>{{489,0},{199,218}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{199,218}}</string>
	        <key>sourceSize</key>
	        <string>{199,218}</string>
	        <key>fx_particle_crash_03.png</key>
	        <string>{{0,355},{287,174}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{287,174}}</string>
	        <key>sourceSize</key>
	        <string>{287,174}</string>
	        <key>fx_particle_pow_01.png</key>
	        <string>{{287,355},{111,170}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{111,170}}</string>
	        <key>sourceSize</key>
	        <string>{111,170}</string>
	        <key>ship_giant_roof.png</key>
	        <string>{{398,355},{134,142}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{134,142}}</string>
	        <key>sourceSize</key>
	        <string>{134,142}</string>
	        <key>fx_particle_crash_01.png</key>
	        <string>{{489,218},{187,134}}</string>
	        <key>offset</key>
	        <string>{14,17}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{36,37},{287,174}}</string>
	        <key>sourceSize</key>
	        <string>{287,174}</string>
	        <key>ship_giant_head.png</key>
	        <string>{{532,355},{82,129}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{82,129}}</string>
	        <key>sourceSize</key>
	        <string>{82,129}</string>
	        <key>fx_particle_boom_01.png</key>
	        <string>{{0,529},{190,120}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{190,120}}</string>
	        <key>sourceSize</key>
	        <string>{190,120}</string>
	        <key>fx_particle_bomb.png</key>
	        <string>{{614,355},{23,115}}</string>
	        <key>offset</key>
	        <string>{0,3}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,7},{23,122}}</string>
	        <key>sourceSize</key>
	        <string>{23,122}</string>
	        <key>fx_particle_boom_02.png</key>
	        <string>{{190,529},{161,102}}</string>
	        <key>offset</key>
	        <string>{6,3}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{8,12},{190,120}}</string>
	        <key>sourceSize</key>
	        <string>{190,120}</string>
	        <key>ship_giant_body.png</key>
	        <string>{{351,529},{108,95}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{108,95}}</string>
	        <key>sourceSize</key>
	        <string>{108,95}</string>
	        <key>turret_enemy_full.png</key>
	        <string>{{459,529},{115,94}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{115,94}}</string>
	        <key>sourceSize</key>
	        <string>{115,94}</string>
	        <key>fx_particle_pow_02.png</key>
	        <string>{{637,355},{49,84}}</string>
	        <key>offset</key>
	        <string>{1,4}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{30,39},{111,170}}</string>
	        <key>sourceSize</key>
	        <string>{111,170}</string>
	        <key>fx_particle_crash_02.png</key>
	        <string>{{574,529},{99,82}}</string>
	        <key>offset</key>
	        <string>{9,39}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{85,85},{287,174}}</string>
	        <key>sourceSize</key>
	        <string>{287,174}</string>
	        <key>fx_particle_smoke_02.png</key>
	        <string>{{688,0},{76,75}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{76,75}}</string>
	        <key>sourceSize</key>
	        <string>{76,75}</string>
	        <key>fx_particle_smoke_01.png</key>
	        <string>{{688,75},{46,73}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{46,73}}</string>
	        <key>sourceSize</key>
	        <string>{46,73}</string>
	        <key>turret_enemy_gun.png</key>
	        <string>{{688,148},{48,72}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{48,72}}</string>
	        <key>sourceSize</key>
	        <string>{48,72}</string>
	        <key>ship_jet_full.png</key>
	        <string>{{0,649},{138,64}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{138,64}}</string>
	        <key>sourceSize</key>
	        <string>{138,64}</string>
	        <key>turret_enemy_base.png</key>
	        <string>{{138,649},{115,62}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{115,62}}</string>
	        <key>sourceSize</key>
	        <string>{115,62}</string>
	        <key>ship_enemy_full.png</key>
	        <string>{{253,649},{138,61}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{138,61}}</string>
	        <key>sourceSize</key>
	        <string>{138,61}</string>
	        <key>fx_particle_ratata_01.png</key>
	        <string>{{391,649},{89,59}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{89,59}}</string>
	        <key>sourceSize</key>
	        <string>{89,59}</string>
	        <key>fx_particle_boom_03.png</key>
	        <string>{{480,649},{92,59}}</string>
	        <key>offset</key>
	        <string>{8,5}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{41,36},{190,120}}</string>
	        <key>sourceSize</key>
	        <string>{190,120}</string>
	        <key>fx_particle_engine_01.png</key>
	        <string>{{688,220},{49,55}}</string>
	        <key>offset</key>
	        <string>{0,1}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,2},{49,57}}</string>
	        <key>sourceSize</key>
	        <string>{49,57}</string>
	        <key>fx_particle_engine_04.png</key>
	        <string>{{688,275},{46,49}}</string>
	        <key>offset</key>
	        <string>{0,4}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{1,0},{49,57}}</string>
	        <key>sourceSize</key>
	        <string>{49,57}</string>
	        <key>fx_particle_ratata_02.png</key>
	        <string>{{572,649},{85,49}}</string>
	        <key>offset</key>
	        <string>{2,1}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,6},{89,59}}</string>
	        <key>sourceSize</key>
	        <string>{89,59}</string>
	        <key>ship_giant_floor.png</key>
	        <string>{{0,713},{117,48}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{117,48}}</string>
	        <key>sourceSize</key>
	        <string>{117,48}</string>
	        <key>ship_enemy_body.png</key>
	        <string>{{117,713},{124,46}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{124,46}}</string>
	        <key>sourceSize</key>
	        <string>{124,46}</string>
	        <key>fx_particle_pow_03.png</key>
	        <string>{{688,324},{59,45}}</string>
	        <key>offset</key>
	        <string>{1,1}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{27,64},{111,170}}</string>
	        <key>sourceSize</key>
	        <string>{111,170}</string>
	        <key>ship_jet_head.png</key>
	        <string>{{688,369},{46,43}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{46,43}}</string>
	        <key>sourceSize</key>
	        <string>{46,43}</string>
	        <key>ship_jet_body.png</key>
	        <string>{{657,649},{82,43}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{82,43}}</string>
	        <key>sourceSize</key>
	        <string>{82,43}</string>
	        <key>ship_giant_engine.png</key>
	        <string>{{734,75},{25,42}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{25,42}}</string>
	        <key>sourceSize</key>
	        <string>{25,42}</string>
	        <key>fx_particle_ratata_03.png</key>
	        <string>{{688,412},{62,42}}</string>
	        <key>offset</key>
	        <string>{12,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{1,8},{89,59}}</string>
	        <key>sourceSize</key>
	        <string>{89,59}</string>
	        <key>fx_particle_crash_04.png</key>
	        <string>{{688,454},{73,36}}</string>
	        <key>offset</key>
	        <string>{28,63}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{79,132},{287,174}}</string>
	        <key>sourceSize</key>
	        <string>{287,174}</string>
	        <key>ship_enemy_wing.png</key>
	        <string>{{688,490},{68,34}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{68,34}}</string>
	        <key>sourceSize</key>
	        <string>{68,34}</string>
	        <key>fx_particle_engine_03.png</key>
	        <string>{{688,524},{41,34}}</string>
	        <key>offset</key>
	        <string>{3,7}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{7,4},{49,57}}</string>
	        <key>sourceSize</key>
	        <string>{49,57}</string>
	        <key>fx_particle_smoke_03.png</key>
	        <string>{{688,558},{37,29}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{37,29}}</string>
	        <key>sourceSize</key>
	        <string>{37,29}</string>
	        <key>ship_jet_exhaust.png</key>
	        <string>{{688,587},{60,26}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{60,26}}</string>
	        <key>sourceSize</key>
	        <string>{60,26}</string>
	        <key>ship_jet_engine.png</key>
	        <string>{{734,117},{30,24}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{30,24}}</string>
	        <key>sourceSize</key>
	        <string>{30,24}</string>
	        <key>fx_particle_ratata_04.png</key>
	        <string>{{688,613},{52,23}}</string>
	        <key>offset</key>
	        <string>{14,2}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{4,20},{89,59}}</string>
	        <key>sourceSize</key>
	        <string>{89,59}</string>
	        <key>fx_particle_ratata_05.png</key>
	        <string>{{729,524},{31,23}}</string>
	        <key>offset</key>
	        <string>{23,3}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{6,15},{89,59}}</string>
	        <key>sourceSize</key>
	        <string>{89,59}</string>
	        <key>fx_particle_engine_02.png</key>
	        <string>{{736,148},{25,23}}</string>
	        <key>offset</key>
	        <string>{6,11}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{18,6},{49,57}}</string>
	        <key>sourceSize</key>
	        <string>{49,57}</string>
	        <key>ship_jet_gun.png</key>
	        <string>{{398,497},{54,18}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{54,18}}</string>
	        <key>sourceSize</key>
	        <string>{54,18}</string>
	        <key>fx_particle_ratata_07.png</key>
	        <string>{{736,171},{17,18}}</string>
	        <key>offset</key>
	        <string>{4,9}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{32,30},{89,59}}</string>
	        <key>sourceSize</key>
	        <string>{89,59}</string>
	        <key>fx_particle_ratata_06.png</key>
	        <string>{{736,189},{17,14}}</string>
	        <key>offset</key>
	        <string>{25,13}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{11,36},{89,59}}</string>
	        <key>sourceSize</key>
	        <string>{89,59}</string>
	        <key>ship_enemy_gun.png</key>
	        <string>{{688,636},{49,13}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{49,13}}</string>
	        <key>sourceSize</key>
	        <string>{49,13}</string>
	        <key>fx_particle_shell.png</key>
	        <string>{{734,141},{7,7}}</string>
	        <key>offset</key>
	        <string>{0,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{0,0},{7,7}}</string>
	        <key>sourceSize</key>
	        <string>{7,7}</string>
	        <key>fx_particle_bullett.png</key>
	        <string>{{286,346},{59,4}}</string>
	        <key>offset</key>
	        <string>{3,0}</string>
	        <key>rotated</key>
	        <false/>
	        <key>sourceColorRect</key>
	        <string>{{7,0},{66,4}}</string>
	        <key>sourceSize</key>
	        <string>{66,4}</string>
	    </dict>
	    <key>metadata</key>
	    <dict>
	        <key>format</key>
	        <integer>2</integer>
	        <key>realTextureFileName</key>
	        <string>spritesheet.png</string>
	        <key>size</key>
	        <string>{1024,1024}</string>
	        <key>textureFileName</key>
	        <string>spritesheet.png</string>
	    </dict>
    </dict>
</plist>
