{
	"images": ["{{{name}}}.png"],
	"frames": [
		{{#files}}
			[{{x}}, {{y}}, {{width}}, {{height}}]{{^isLast}},{{/isLast}}
		{{/files}}
	],
	"animations": {
		{{#files}}
				"{{{name}}}":[{{index}}]{{^isLast}},{{/isLast}}
		{{/files}}
	}
}
