{
	"images": ["{{name}}.png"],
	"frames": [
		{{#each files}}
	        [{{x}}, {{y}}, {{width}}, {{height}}]{{#unless isLast}},{{/unless}}
	    {{/each}}
	],
	"animations": {
		{{#each files}}
	            "{{name}}":[{{@index}}]{{#unless isLast}},{{/unless}}
	    {{/each}}
	}
}
