{
	"images": ["{{name}}.png"],
	"frames": [
		{{#files}}
	        [{{x}}, {{y}}, {{width}}, {{height}}]{{^isLast}},{{/isLast}}// {{name}}
	    {{/files}}
	],
	"animations": {
		{{#files}}
	            "{{name}}":[{{index}}]{{^isLast}},{{/isLast}}
	    {{/files}}
	}
}
